.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-body {
    flex-grow: 1;
    /* Allows content to expand and equalize card height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card canvas {
    object-fit: cover;
    height: 200px;
    max-height: 300px;
}

.card-bold-text {
    font-weight: bold;
    color: rgb(0, 40, 85);
}

.card-subtext {
    font-size: 1.25rem;
}

.description-box-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 40, 85);
}

.description-box {
    background-color: rgb(213, 242, 228);
    padding: 20px;
    text-align: center;
    margin-top: 16px;
}

.modal-description-box {
    background-color: rgb(213, 242, 228);
    border-radius: 10px;
    padding: 10px;
}

/* Custom style for our navbar background and text */
.navbar-custom {
    background-color: rgb(0, 40, 85);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom {
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
    text-decoration: underline;
}

/* Custom pill button style */
.btn-custom-white {
    background-color: #fff;
    font-weight: bold;
    /* white background */
    color: rgb(0, 40, 85);
    /* navy text matching the navbar */
    border: 1px solid rgb(0, 40, 85);
    /* navy border for definition */
    font-size: 1.0rem;
    padding: 15px 20px;
}

.btn-custom-blue {
    background-color: rgb(0, 40, 85);
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.0rem;
    padding: 15px 20px;
}

/* Optional: Hover state for better user feedback */
.btn-custom-white:hover {
    background-color: rgb(204, 212, 221);
    color: rgb(0, 40, 85);
    border: 1px solid rgb(0, 40, 85);
}

/* Custom style for the highlighted text */
.highlight {
    background-color: rgb(23, 253, 164);
    padding: 0.2em 0.4em;
}

/* Main components */
body {
    background-color: rgb(242, 241, 237);
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Clickable Header */
.clickable-header {
    cursor: pointer;
    /* Optionally add some spacing and hover effect */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clickable-header:hover {
    text-decoration: underline;
}

/* Rotate the icon when the collapse is open */
.rotate {
    transition: transform 0.3s;
}

.rotate.collapsed {
    transform: rotate(0deg);
}

.rotate:not(.collapsed) {
    transform: rotate(180deg);
}

.bg-image {
    background-image: url('https://images.squarespace-cdn.com/content/v1/6480cd2ebc182a03063f9a25/31e16864-a30f-4318-8e78-789fedbd7778/Rectangle+8+%283%29.png?format=2500w');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: rgb(0, 40, 85);
}

 /* Hero section styles */
 .hero-section {
     background: url('https://images.squarespace-cdn.com/content/v1/6480cd2ebc182a03063f9a25/f2e5e604-b73f-4e79-9b5c-dbbc84addc6a/shutterstock_2430079323.jpg?format=2500w') no-repeat center center;
     background-size: cover;
     min-height: 300px;
     /* Adjust height as needed */
     position: relative;
     color: #fff;
     /* Default text color */
 }

 /* Optional overlay to improve text contrast */
 .hero-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 40, 85, 0.85);
 }

 /* Position hero content above the overlay */
 .hero-content {
     position: relative;
     z-index: 2;
     padding: 2rem;
 }

 /* Scroll Indicator Styles */
 .scroll-indicator {
     position: absolute;
     bottom: 20px;
     left: 51.5%;
     transform: translateX(-50%);
     cursor: pointer;
     z-index: 2;
 }

 .scroll-indicator i {
     font-size: 2.5rem;
     /* color: #fff; */
     color:rgb(23, 253, 164);
     animation: bounce 2s infinite;
     display: block;
 }

 @keyframes bounce {
     0%, 20%, 50%, 80%, 100% {
         transform: translateX(-50%) translateY(0);
     }
     40% {
         transform: translateX(-50%) translateY(10px);
     }
     60% {
         transform: translateX(-50%) translateY(5px);
     }
 }

 /* Adjust the bottom position on small screens */
@media (max-width: 576px) {
    .scroll-indicator {
        bottom: -10px; /* Set the bottom spacing on phone screens */
    }
}