.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-body {
    flex-grow: 1;
    /* Allows content to expand and equalize card height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card canvas {
    object-fit: cover;
    height: 200px;
    max-height: 300px;
}

.card-bold-text {
    font-weight: bold;
    color: rgb(0, 40, 85);
}

.card-subtext {
    font-size: 1.25rem;
}

.description-box-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 40, 85);
}

.description-box {
    background-color: rgb(213, 242, 228);
    padding: 20px;
    text-align: center;
    margin-top: 16px;
}

/* Custom style for our navbar background and text */
.navbar-custom {
    background-color: rgb(0, 40, 85);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom {
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
    text-decoration: underline;
}

/* Custom pill button style */
.btn-custom-white {
    background-color: #fff;
    font-weight: bold;
    /* white background */
    color: rgb(0, 40, 85);
    /* navy text matching the navbar */
    border: 1px solid rgb(0, 40, 85);
    /* navy border for definition */
    font-size: 1.0rem;
    padding: 15px 20px;
}

/* Optional: Hover state for better user feedback */
.btn-custom-white:hover {
    background-color: rgb(204, 212, 221);
    color: rgb(0, 40, 85);
    border: 1px solid rgb(0, 40, 85);
}

/* Custom style for the highlighted text */
.highlight {
    background-color: rgb(23, 253, 164);
    padding: 0.2em 0.4em;
}

/* Main components */
body {
    background-color: rgb(242, 241, 237);
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Clickable Header */
.clickable-header {
    cursor: pointer;
    /* Optionally add some spacing and hover effect */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clickable-header:hover {
    text-decoration: underline;
}

/* Rotate the icon when the collapse is open */
.rotate {
    transition: transform 0.3s;
}

.rotate.collapsed {
    transform: rotate(0deg);
}

.rotate:not(.collapsed) {
    transform: rotate(180deg);
}